@import url('https://rsms.me/inter/inter.css');
$body-family: 'Inter var',
sans-serif !important;
$primary: #6966FB;
$black: #000;
$white: #fff;
$secondary: #2AD798;


$my-colours: ('grey': (#696E8A, #777B90, #626DA7, #B1B6D1), 'primary': (#6966FB));
$bg-colours: ('black': (#000), 'blue': (#171926 #353953 #60668C #34A5E4), 'yellow': (#D39955), 'primary': (#6966FB));