NODE_ENV=production
VUE_APP_TITLE=Whitelisting Platform
VUE_APP_DESC=""
VUE_APP_VERSION=v1.0
VUE_APP_STUDIO_SERVER_BASE_URL=https://192.168.43.43:3003/
VUE_APP_RECAPTCHA_SITE_KEY=asad
VUE_APP_WEBWALLET_URL="https://hswallet.netlify.app"