NODE_ENV=production
VUE_APP_AUTH0_CLIENT_ID=
VUE_APP_AUTH0_DOMAIN=fidato.us.auth0.com
VUE_APP_IS_TEZOS=true
VUE_APP_MOBILEWALLET_URL=hypersign
VUE_APP_RECAPTCHA_SITE_KEY=
VUE_APP_SERVER_WEBSOCKET_URL=ws://localhost:6006/
VUE_APP_STUDIO_SERVER_BASE_URL=http://localhost:6006
VUE_APP_TELEGRAM_BOT_ID=
VUE_APP_TITLE=Fyre
VUE_APP_VERSION=v3.0.4
VUE_APP_WEBWALLET_URL=https://hswallet-stage.netlify.app
VUE_APP_KOMMINICATE_APP_ID=
VUE_APP_INVESTOR_API_SECRET_KEY=