NODE_SERVER_BASE_URL=https://ssi.hypermine.in/core/
HS_AUTH_SERVER_URL=https://ssi.hypermine.in/hsauth/
PORT=3003
HOST=192.168.43.43
DB_URL="You mongo database url"
RECAPTCHA_SECRET=Your recaptcha secret
ENABLE_HTTPS=true
WHITELISTED_CORS=["*", "http://localhost:9002"]
WHITELISTING_SCHEMAID=<Whitelisting Schema Id>
SERVICE_EP_URL=http://192.168.43.43:3003