.weekday__row {    
    color: rgb(241, 179, 25);    
}
.datetime-picker__button{
    color:  #495057;;
    border-radius: 5px;
    width: 100%;
    background: #fff;
    border: 1px solid #ced4da;
}
.datetime-picker-main {    
    z-index: 10;
}
